

.footdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #424242;
       padding: 50px 0;
    
}

.footdiv hr{
    border: 1px solid #8d8a8a;
    width: 60%;
}

.imgText{
    display: flex;
}

.cicle{
    border: 1px solid #fff ;
    width: 8vh;
    height: 8vh;
    border-radius: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
    box-shadow: inset 0 20px 10px #fff ;
}

.imgNav{
    height: 6vh;
    
}

.footTitle{
    background: linear-gradient(lightblue,lightcyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    text-shadow: 0 10px 20px #8d8a8a;
    font-weight: 700;
}

.footDesc{
    color: #fff;
}


.footer{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr;
    gap: 25px;
  
}



.foot h3{
    color: white;
    margin-left: 40px;
}

.footfour h3{
    margin-left: 0px;  
}

.copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}
.copy p{
    color: #fff;
}

.ulfoot{
    cursor: pointer;
}

.ulfoot .lifoot{
    list-style: none;
    margin-bottom: 15px;
   
}

.ulfoot .lifoot a{
    color: white;
    text-decoration: none;
    font-size: 16px;
   
}
.ulfoot .lifoot:hover a{
    color: #19C133;
    border-bottom: 1px solid #19C133 ;
   
}

.iconfoot{
    color: #19C133;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
   
}

.iconall{
    display: flex;
    flex-direction: column;
}

.emailfoot{
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
}
.emailfoot a{
    text-decoration: none;
    color: white;
}

.phonefoot{
    display: flex;
    align-items: center;
}
.phonefoot a{
    text-decoration: none;
    color: white;
}

.locationfoot{
    display: flex;
    align-items: center; 
}
.locationfoot p{
    color: white;
}
.iconfoot{
    margin-right: 10px;
    
}

.iconfootphone{
cursor: pointer;
}

.iconMsgfoot{
    margin-right: 10px;
    color: #19C133;
    cursor: pointer;
}

.iconsfoot{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.iconssfoot{
    color: white;
    cursor: pointer;
}

@media only screen and (max-width:2560px){

}
@media only screen and (max-width:2000px){
    .footer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
        gap: 25px;
      
    }
 .imgText{
    align-items: center;
    justify-content: start;
 }
}
@media only screen and (max-width:1440px) {
    .footer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
        gap: 25px;
      
    }
 .imgText{
    align-items: center;
    justify-content: start;
 }
   
}

@media only screen and (max-width:1280px) {
    .footer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
        gap: 25px;
      
    }
 .imgText{
    align-items: center;
    justify-content: start;
 }   
}


@media only screen and (max-width:1024px) {
    .footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr 1.5fr;
        gap: 25px;
      
    } 
    .footTitle{
       font-size: 20px;
    }
}

@media only screen and (max-width:912px) {
    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 80vh;
    }

    .footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr ;
        gap: 20px;
        margin-bottom: 20px;
        height: 40vh;
    } 
    .footTitle{
        font-size: 16px;
     }  

     .foot h3{
        color: white;
        margin-left: 0px;
    }

    .ulfoot{
        margin: 0;
        padding: 0;
    }

    .copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 14px;
       
    }


}

@media only screen and (max-width:885px) {
    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 60vh;
    }

    .footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr ;
        gap: 20px;
        margin-bottom: 20px;
        height: 60vh;
    } 
    .footTitle{
        font-size: 16px;
     }  

     .foot h3{
        color: white;
        margin-left: 0px;
    }

    .ulfoot{
        margin: 0;
        padding: 0;
    }

    .copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 14px;
       
    }


}

@media only screen and (max-width:835px) {
    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 60vh !important;
    }

    .footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr ;
        gap: 20px;
        margin-bottom: 20px;
        height: 60vh !important;
    } 
    .footTitle{
        font-size: 16px;
     }  

     .foot h3{
        color: white;
        margin-left: 0px;
    }

    .ulfoot{
        margin: 0;
        padding: 0;
    }

    .copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 14px;
       
    }


}

@media only screen and (max-width:840px) {
    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 80vh !important;
    }

    .footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr ;
        gap: 20px;
        margin-bottom: 20px;
        height: 50vh !important;
    } 
    .footTitle{
        font-size: 16px;
     }  

     .foot h3{
        color: white;
        margin-left: 0px;
    }

    .ulfoot{
        margin: 0;
        padding: 0;
    }

    .copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 14px;
       
    }


}



@media only screen and (max-width:821px) {
    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 56vh !important;
    }

    .footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr ;
        gap: 20px;
        margin-bottom: 20px;
        height: 50vh !important;
    } 
    .footTitle{
        font-size: 16px;
     }  

     .foot h3{
        color: white;
        margin-left: 0px;
    }

    .ulfoot{
        margin: 0;
        padding: 0;
    }

    .copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 14px;
       
    }


}

@media only screen and (max-width:769px) {

    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 70vh !important;
    }

    .ulfoot{
        cursor: default;
    }

    .ulfoot .lifoot {
        cursor: default;
      }

      .ulfoot .lifoot:hover {
        cursor: default;
    }

    .footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr ;
        gap: 20px;
        margin-bottom: 20px;
        height: 70vh !important;
    } 
    .footTitle{
        font-size: 16px;
     }  

     .foot h3{
        color: white;
        margin-left: 0px;
    }

    .ulfoot{
        margin: 0;
        padding: 0;
    }

    .copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 14px;
       
    }


}

@media only screen and (max-width:540px) {

    .footer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
        margin-bottom: 40px;
    } 

    .footTitle{
        font-size: 25px;
     }  

     .copy{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 16px;
       
    }
    
}
@media only screen and (max-width:429px) {

    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 140vh !important;
    }


    .footer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
        margin-bottom: 40px;
        height: 140vh !important;
    } 

    .footTitle{
        font-size: 25px;
     }  

     .copy{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 16px;
       
    }
    
}

@media only screen and (max-width:425px) {

    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 145vh !important;
    }


    .footer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
        margin-bottom: 40px;
        height: 145vh !important;
    } 

    .footTitle{
        font-size: 25px;
     }  

     .copy{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 16px;
       
    }
    
}
@media only screen and (max-width:393px) {

    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 145vh !important;
    }

    .footer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
        margin-bottom: 40px;
        height: 145vh !important;
    } 

    .footTitle{
        font-size: 25px;
     }  

     .copy{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 16px;
       
    }
    
}
@media only screen and (max-width:376px) {
    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 175vh !important;
    }

    .footer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
        margin-bottom: 40px;
        height: 175vh !important;
    } 

    .footTitle{
        font-size: 25px;
     }  

     .copy{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 16px;
       
    } 
}
@media only screen and (max-width:361px) {
    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 190vh !important;
    }

    .footer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
        margin-bottom: 40px;
        height: 190vh !important;
    } 

    .footTitle{
        font-size: 25px;
     }  

     .copy{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
       
    }
    .copy p{
      font-size: 16px;
       
    } 
}
@media only screen and (max-width:320px) {
    .footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
        margin-bottom: 40px;
        height: 200vh !important;
    }    

    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 220vh !important;
    }

}
@media only screen and (max-width:280px) {
    .footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
        margin-bottom: 40px;
        height: 160vh !important;
    }    

    .footdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #424242;
           padding: 50px 0;
           height: 190vh !important;
    }

}